%div#page-info
  %span#title
    Compose
  %span#desc
    Compose a new Message

= form_for :message, :url => send_message_profile_messages_path do |message|
  %label{:for => "friend"} To:
  %br
    = message.autocomplete_field :id, autocomplete_user_username_profile_messages_path
  //= collection_select(:message, :friend_id, @friends, :id, :username)
  %br
  %label{:for => "message"} Body:
  %br
  = message.text_area :message
  %br
  = message.file_field :attachment
  %br
  = submit_tag "Send", :confirm => "Are you sure?"
